@font-face {
    font-family: 'BebasNeue_Book';
    src: url('fonts/BebasNeue_Book.otf') format('embedded-opentype'), url('fonts/BebasNeue_Book.ttf') format('truetype');
}
@font-face {
    font-family: 'BebasNeue_Light';
    src: url('fonts/BebasNeue_Light.otf') format('embedded-opentype'), url('fonts/BebasNeue_Light.ttf') format('truetype');
}
@font-face {
    font-family: 'BebasNeue_Regular';
    src: url('fonts/BebasNeue_Regular.otf') format('embedded-opentype'), url('fonts/BebasNeue_Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'BebasNeue_Thin';
    src: url('BebasNeue_Thin.ttf') format('truetype');
    /* src: url('fonts/BebasNeue_Regular.otf') format('embedded-opentype'), url('BebasNeue_Thin.ttf') format('truetype'); */
}
@font-face {
    font-family: 'BebasNeue_Thin';
    src: url('BebasNeue_Thin.ttf') format('truetype');
    /* src: url('fonts/BebasNeue_Regular.otf') format('embedded-opentype'), url('BebasNeue_Thin.ttf') format('truetype'); */
}
@font-face {
    font-family: 'BebasNeue_Bold';
    src: url('BebasNeue_Bold.ttf') format('truetype');
    /* src: url('fonts/BebasNeue_Regular.otf') format('embedded-opentype'), url('BebasNeue_Thin.ttf') format('truetype'); */
}


html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h1 {margin: 0;}

.wrap {
    min-height: 100%;
    height: 100%;
/*    margin: 0 auto -60px;
    padding: 0 0 60px;*/
	background: url('images/background.jpg') no-repeat 50% 50%;
}

.wrap .contentHolder {
    width: 940px;
    margin: 0 auto;
    background: #fff;
    height: 100%;
}

.wrap .topMenu {
    height: 63px;
    background: #545454;
    color: #fff;
    border-bottom: 2px solid #363636;
    padding-left: 83px;
}

.wrap .topMenu .leftButtons {
    float: left;
    height: 43px;
    padding-top: 22px;
}

.wrap .topMenu .rightButtons {
    float: right;
    height: 43px;
    padding-top: 22px;
}

.wrap .topMenu a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-family: BebasNeue_Regular;
    padding: 22px 15px;
    word-spacing: 5px;
}

.wrap .topMenu a:hover, .wrap .topMenu a.active{
    background: #797979;
    border-bottom: 2px solid #d70101;
}

.wrap .container {
    padding-top: 38px;
}

.wrap .container h1 {
    font-size: 50px;
    color: #373737;
    font-family: BebasNeue_Regular;
    text-align: center;
    font-weight: normal;
    letter-spacing: 1px;
}

.wrap .container .separatorHolder {
    height: 3px;
    margin: 18px 0 47px 0;
}

.wrap .container .separator {
    width: 157px;
    background: #e1e1e1;
    height: 3px;
    margin: 0 auto;
}

.wrap .matchesHolder {
    width: 370px;
    margin: 0 auto;
    padding-left: 30px;
}

.wrap .matchesHolder a {
    color: #373737;
    font-size: 24px;
    font-family: BebasNeue_Regular;
    font-weight: bold;
    padding-left: 36px;
    padding-right: 10px;
    margin-right: 17px;
    margin-left: 17px;
    padding-bottom: 2px;
    background: url('images/sprite.png') 4px 4px no-repeat;
    height: 25px;
    margin-bottom: 26px;
    display: inline-block;
}

.wrap .matchesHolder a:hover {
    background-color: #d70101;
    background-position: 4px -25px;
    color: #fff;
}

/*.wrap > .container {
    padding: 70px 15px 20px;
}*/

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.site-login{
	width: 400px;
	height: 279px;
	background: #fff;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	border-radius: 4px;
}
.site-login .top-border{
	width: 100%;
	height: 5px;
	margin-bottom: 52px;
}

.site-login .top-border > div{
	height: 100%;
	width: 100px;
	float: left;
}

.site-login .top-border .one{
	background: #00829c;
	border-radius: 4px 0 0 0;
}

.site-login .top-border .two{
	background: #7ab8bf;
}

.site-login .top-border .three{
	background: #edc278;
}

.site-login .top-border .four{
	background: #cc6e91;
	border-radius: 0 4px 0 0;
}

.site-login .login-input{
	width: 330px;
	margin-left: 51px;
}

.site-login .login-input input{
    height: 27px;
    font-family: BebasNeue_Regular;
    text-transform: uppercase;
    font-size: 16px;
    padding: 10px 17px;
    width: 266px;
    border: 0px;
    border-top: 2px solid #eef0f1;
    background: #f3f5f6;
    border-radius: 4px;
}

.site-login .login-input input:focus{
	box-shadow: none;
}

.form-group{
	margin-bottom: 10px;
}

.site-login .login-btn{
	width: 300px;
	border: none;
	border-bottom: 2px solid #a80202;
	height: 53px;
	background: #d30807;
	border-radius: 5px;
	font-family: BebasNeue_Regular;
	color: #fff;
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
}

.site-login .col-lg-offset-1.col-lg-11 {
	width: 100%;
	margin: 0;
	text-align: center;
}

.teamHolder {
    text-align: center;
    width: 900px;
    height: 100px;
    margin: 0 auto;
    margin-top: -12px;
    padding-left: 70px;
}

.teamHolder .redTeam {
    float: left;
    width: 387px;
    padding-left: 27px;
    text-align: left;
}

.teamHolder .textArea {
    float: left;
    width: 198px;
}

.teamHolder .emblemArea {
    float: left;
    width: 163px;
}

.teamHolder .emblemArea img {
    float: left;
    position: relative;
    z-index: 2;
}

.teamHolder .emblemArea .redScore {
    float: left;
    width: 47px;
    height: 69px;
    display: inline-block;
    background: url('images/sprite.jpg') 89px -78px no-repeat;
    background-color: #545454;
    margin-left: -37px;
    margin-top: 8px;
    position: relative;
    z-index: 1;
    padding: 9px 23px 0 42px;
    font-size: 59px;
    font-family: BebasNeue_Regular;
    font-weight: bold;
    color: #fff;
    letter-spacing: 3px;
    text-align: center;
}

.teamHolder .textArea .teamTitle {
    font-size: 30px;
    font-family: BebasNeue_Regular;
    font-weight: bold;
    text-transform: uppercase;
    color: #ff0000;
}

.teamHolder .textArea .redSeparator {
    height: 3px;
    width: 162px;
    background: #ff0000;
    margin: 3px 0 0 1px;
}

.teamHolder .textArea .scoreList {
    padding-top: 21px;
}

.teamHolder .textArea .scoreList .scoreItem {
    font-size: 18px;
    font-family: BebasNeue_Regular;
    font-weight: normal;
    color: #373737;
    padding: 2px 0 2px 31px;
    word-spacing: 3px;
    background: url('images/sprite.png') 1px 1px no-repeat;
    margin-bottom: 10px;
}

.teamHolder .greenTeam {
    float: left;
    width: 400px;
    text-align: left;
}

.teamHolder .emblemArea .greenScore {
    float: left;
    width: 47px;
    height: 69px;
    display: inline-block;
    background: url('images/sprite.jpg') 0px 0px no-repeat;
    background-color: #545454;
    margin-top: 8px;
    position: relative;
    z-index: 1;
    padding: 9px 48px 0 23px;
    font-size: 59px;
    font-family: BebasNeue_Regular;
    font-weight: bold;
    color: #fff;
    letter-spacing: 3px;
    text-align: center;
}

.teamHolder .greenTeam .emblemArea img {
    margin-left: -38px;
}

.teamHolder .greenTeam .textArea {
    text-align: right;
}

.teamHolder .greenTeam .textArea .teamTitle {
    color: #22b600;
    padding-right: 7px;
}

.teamHolder .textArea .greenSeparator {
    height: 3px;
    width: 161px;
    background: #22b600;
    margin: 3px 0 0 31px;
}

.teamHolder .greenTeam .scoreList{
    padding-right: 10px;
}

.site-error {
    text-align: center;
    font-family: sans-serif;
}

.statistics{
    padding: 0 98px;
    margin-top: -11px;
    font-family: BebasNeue_Regular;
    font-weight: bold;
    font-size: 18px;
}

.statistics .line{
    margin-bottom: 26px;
}

.statistics .line a{
    color: #000;
    margin-right: 23px;
    word-spacing: -1px;
}

.statistics .line .btn.active{
    background: #d01313;
    padding: 3px 5px;
    color: #fff;
}

.statistics .table{
    margin-top: 36px;
    margin-left: -1px;
}

.statistics table{
    border-spacing: 0px;
    width: 740px;
    color: #FFF;
    text-align: center;
}

.statistics table thead{
    background: #242A31;
}

.statistics table thead th{
    padding: 8px 0px;
}

.statistics table tbody{
    background: #394149;
    font-weight: normal;
    font-size: 17px;
}

.statistics table tbody td{
    padding: 18px 0px 7px 0px;
}

.statistics table tbody td:first-child{
    padding: 18px 0px 7px 6px;
    color: #d01313;
}

.statistics table tfoot{
    background: #394149;
}

.statistics table tfoot td{
    padding-top: 10px;
}